{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old-password" name="old-password" placeholder="Enter password" type="password">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Enter your new Password" type="password">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-enter new Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
