{% extends "layout.html" %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
    <script src="./static/add-vehicle.js"></script>
    <style>
        #scanner-container {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            display: none;
        }
        video, canvas {
            width: 100%;
            max-width: 95vw;
        }
    </style>
{% endblock %}

{% block title %}
    Add vehicle
{% endblock %}

{% block main %}
    <h4>Add a vehicle</h4>
    <form action="/add-vehicle" method="post">
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="year" name="year" placeholder="Year" type="number">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="make" name="make" placeholder="Make" type="text">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="model" name="model" placeholder="Model" type="text">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="number" name="number" placeholder="Vehicle ID" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tag" name="tag" placeholder="Vehicle tag" type="text">
        </div>
        <div class="mb-3">
            <input required autocomplete="off" autofocus class="form-control mx-auto w-auto" id="vin" name="vin" placeholder="VIN" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
        <input class="btn btn-primary" type="button" id="btn" value="Start/Stop the scanner" />
        <hr>
        <div id="scanner-container"></div>

    </form>
{% endblock %}