{% extends "layout.html" %}

{% block title %}
    Add cash to your account
{% endblock %}

{% block main %}
<h2>Insert cash amount max: $10,000.00</h2>
    <form action="/cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="cash" name="amount" placeholder="$" type="number" min="0.01" max="10000" step="0.01">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}