{% extends "layout.html" %}

{% block title %}
    Manage inspections and/or maintenance of your fleet
{% endblock %}

{% block main %}
    {% if not session["user_id"] %}
        <h2>Register for an Admin account on the top right</h2>
    {% else %}
    
        <div style="text-align:center; max-width:1100px; margin: auto;">
            <h2>Users</h2>
                <table class="table table-hover table-sm">
                    {% if users == [] %}
                    <thead>
                        <tr>
                            <th>Text for a non-admin</th>
                        </tr>
                    </thead>
                    {% else %}
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0,users | len) %}
                        <tr>
                            <td>{{ users[i]["username"] }}</td>
                            <td>{{ users[i]["email"] }}</td>
                            <td>{{ users[i]["role"] }}</td>
                            <td><form action="/edit-user" method="get">
                                <button name="user" class="btn btn-primary" type="submit" value="{{ users[i]["username"] }}">Edit</button>
                            </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
                <h2>Vehicles</h2>
                <table class="table table-hover table-sm">
                    {% if vehicles == [] %}
                    <thead>
                        <tr>
                            <th>No vehicles</th>
                        </tr>
                    </thead>
                    {% else %}
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Id</th>
                            <th>Tag</th>
                            <th>VIN</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0,vehicles | len) %}
                        <tr>
                            <td>{{ vehicles[i]["year"] }}</td>
                            <td>{{ vehicles[i]["make"] }}</td>
                            <td>{{ vehicles[i]["model"] }}</td>
                            <td>{{ vehicles[i]["number"] }}</td>
                            <td>{{ vehicles[i]["tag"] }}</td>
                            <td>{{ vehicles[i]["vin"] }}</td>
                            <td><form action="/edit-vehicle" method="get">
                                <button name="vehicle" class="btn btn-primary" type="submit" value="{{ vehicles[i]["number"] }}">Edit</button>
                            </form></td>
                            <td><form action="/inspection" method="get">
                                <button name="vehicle" class="btn btn-primary" type="submit" value="{{ vehicles[i]["number"] }}">New Inspection</button>
                            </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
        </div>
    {% endif %}
{% endblock %}