{% extends "layout.html" %}

{% block title %}
    Manage inspections and/or maintenance of your fleet
{% endblock %}

{% block head %}
<script>
window.onload = function() {
    let root = document.documentElement;
    var table = document.getElementById('index-users');
    if (table) {
        var originalWidth = table.style.width;
        table.style.width = '1px';
        const smallestWidth = table.getBoundingClientRect().width + 24;
        table.style.width = originalWidth;
        smalestWidthText = "(max-width: " + Math.floor(smallestWidth) + "px)";
    
        var x = window.matchMedia(smalestWidthText);
    
        function handleTabletChange(e) {
            // Check if the media query is true
            if (e.matches) {
                var tds = document.getElementsByClassName("email-tohide");
    
                for (var i = 0; i < tds.length; ++i) {
                    tds[i].style.display = "none";
                }
                document.getElementById("head-to-hide").style.display = "none";
            }
            else {
                var tds = document.getElementsByClassName("email-tohide");
                for (var i = 0; i < tds.length; ++i) {
                    tds[i].style.display = "table-cell";
                }
                document.getElementById("head-to-hide").style.display = "table-cell";
            }
        }
    
        x.addListener(handleTabletChange);
        handleTabletChange(x);
    }

}
</script>
{% endblock %}

{% block main %}
    {% if not session["user_id"] %}
        <h2>Register for an Admin account on the top right</h2>
    {% else %}

        <div style="text-align:center; max-width:1100px; margin: auto;">
        {% if users != [] %}
            <h2>Users</h2>
                <table class="table table-hover table-sm" id="index-users">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th id="head-to-hide">Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0,users | len) %}
                        <tr>
                            <td>{{ users[i]["username"] }}</td>
                            <td class="email-tohide">{{ users[i]["email"] }}</td>
                            <td>{{ users[i]["role"] }}</td>
                            <td><form action="/edit-user" method="get">
                                <button name="user" class="btn btn-primary" type="submit" value="{{ users[i]["username"] }}">Edit</button>
                            </form></td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
        {% endif %}
                <h2>Vehicles</h2>
                <table class="table table-hover table-sm" id="index-vehicles">
                    {% if vehicles == [] %}
                    <thead>
                        <tr>
                            <th>No vehicles</th>
                        </tr>
                    </thead>
                    {% else %}
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Id</th>
                            <th>Tag</th>
                            <th>VIN</th>
                            <th></th>
                            <th></th>
                            {% if users != [] %}
                            <th></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(0,vehicles | len) %}
                        <tr>
                            <td>{{ vehicles[i]["year"] }}</td>
                            <td>{{ vehicles[i]["make"] }}</td>
                            <td>{{ vehicles[i]["model"] }}</td>
                            <td>{{ vehicles[i]["number"] }}</td>
                            <td>{{ vehicles[i]["tag"] }}</td>
                            <td>{{ vehicles[i]["vin"] }}</td>
                            <td><form action="/edit-vehicle" method="get">
                                <button name="vehicle" class="btn btn-primary" type="submit" value="{{ vehicles[i]["number"] }}">Edit</button>
                            </form></td>
                            <td><form action="/inspection" method="get">
                                <button name="vehicle" class="btn btn-primary" type="submit" value="{{ vehicles[i]["number"] }}">Inspect</button>
                            </form></td>
                            {% if users != [] %}
                            <td><form action="/vehicles" method="get">
                                <button name="vehicle" class="btn btn-primary" type="submit" value="{{ vehicles[i]["number"] }}">View</button>
                            </form></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
        </div>
    {% endif %}
{% endblock %}