{% extends "layout.html" %}

{% block title %}
    Sell Stock(s)
{% endblock %}

{% block main %}
{% if number == 0 %}
    <h4>You don't own any stock to sell.</h4>
{% else %}
    <h4>Sell a stock</h4>
    <form action="/sell" method="post">
        <div class="mb-3"></div>
            <select class="form-select" name="symbol" style="width: auto; margin-right:auto; margin-left:auto; margin-bottom:1em">
                {% if stock %}
                    <option disabled>Stock</option>
                {% else %}
                    <option disabled selected>Stock</option>
                {% endif %}
                {% for s in stocks %}
                    {% if stock == s %}
                        <option selected value="{{ s }}">{{ s }}</option>
                    {% else%}
                        <option value="{{ s }}">{{ s }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="shares" placeholder="Quantity to sell" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endif %}
{% endblock %}