{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
window.onload = function () {
    let input = document.querySelector('select');
    if (input) {
        input.addEventListener('change', async function(e) {

            var url = new URL(window.location.href);
            var search_params = url.searchParams;
            search_params.set('vehicle', encodeURIComponent(e.target.value));
            let response = await fetch('/vehicles', {
                method: 'POST',
                body: 'vehicle=' + encodeURIComponent(e.target.value),
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded'
                },
                credentials: 'include',
            });
            let vehicles = await response.json();
            let html = '';
            for (let v in vehicles) {
                html += '<tr><td>' + vehicles[v][3] + '</td><td>' + vehicles[v][2] + '</td><td>' + vehicles[v][1] + '</td><td>' + vehicles[v][0] + '</td></tr>';
            }
            document.getElementById('toChange').innerHTML = html;
            url.search = search_params.toString();
            history.pushState(null, document.title, url);
        });
    }
    window.addEventListener('popstate', function () {
        window.location = location.href;
    });
    async function graph() {
        let response = await fetch('/vehicles', {
            method: 'POST',
            credentials: 'include',
        });
        let all_inspections = await response.json();
        return all_inspections;
    }
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    if (search_params.toString()) {
        graph().then(
            function(value) {
                console.log(value);
                var dataset = [];
                var storage = [];
                for(var j=0;j<value.length;j++) {
                    for(var i=0;i<value[j][Object.keys(value[j])[0]]['dates'].length;i++)
                    {
                        x = value[j][Object.keys(value[j])[0]]['dates'][i];
                        y = value[j][Object.keys(value[j])[0]]['miles'][i];
                        var json = {x: x, y: y};
                        storage.push(json);
                    }
                    console.log(storage);

                    vehicle = 'vehicle ' + Object.keys(value[j])[0]
                    var randomColor = Math.floor(Math.random()*16777215).toString(16);
                    randomColor = '#' + randomColor;
                    var obj = {label: vehicle, data: storage, fill: false, backgroundColor: randomColor, borderColor: randomColor};
                    storage = [];
                    dataset.push(obj);
                }
                console.log(dataset);
                const ctx = document.getElementById('myChart');
                const data = {
                    datasets: dataset,
                };
                const config = {
                    type: 'scatter',
                    data: data,
                    options: {
                        scales: {
                            x: {
                                ticks: {
                                    display: false,
                                },
                                display: true,
                                title: {
                                    display: true,
                                    text: 'Date',
                                    color: '#911',
                                    font: {
                                        size: 20,
                                        family: 'Comic Sans MS',
                                        lineHeight: 1.2,
                                    },
                                    padding: {top: 20, left: 0, right: 0, bottom: 0}
                                },
                                type: 'linear',
                                position: 'bottom',
                            },
                            //xAxes: [{
                            //    ticks: {
                            //        display: false,
                            //    }
                            //}]
                        }
                    }
                };
                const myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );
            }
        );
    }
}
</script>
{% endblock %}

{% block title %}
    List of the vehicles in your fleet
{% endblock %}

{% block main %}

    <div style="text-align:center; max-width:1100px; margin: auto;">
    {% if not vehicle %}
        <h2>Vehicles</h2>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mileage of the next oil change</th>
                    <th>Latest Inspection Mileage</th>
                    <th>Latest Inspection Date</th>
                    <th>Projected date of next oil change</th>
                </tr>
            </thead>
            {% for v, i in vehicles.items() %}
            <tbody>
                <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/vehicles?vehicle={{ v }}';">
                    <td>{{ v }}</td>
                    <td>{{ i[0][0] }}</td>
                    <td>{{ i[0][1] }}</td>
                    <td>{{ i[0][2] }}</td>
                    <td>{{ i[0][3] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% else %}
    <h4>View another</h4>
    <form>
        <div class="mb-3"></div>
            <select id="vehicle_selection" class="form-select" name="vehicle" style="width: auto; margin-right:auto; margin-left:auto; margin-bottom:1em">
                {% for v in vehicles %}
                    {% if vehicle == v["number"] %}
                        <option selected value="{{ v["number"] }}">Vehicle {{ v["number"] }}</option>
                    {% else %}
                        <option value="{{ v["number"] }}">Vehicle {{ v["number"] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
    <div style="text-align:center; max-width:1100px; margin: auto;">
    <h2>Vehicle {{vehicle}}: Latest problems</h2>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>By</th>
                    <th>Date</th>
                    <th>Item</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody id="toChange">
            {% for i in inspection %}
                <tr>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[0] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<canvas id="myChart" max-width="400" max-height="400"></canvas>
{% endblock %}