{% extends "layout.html" %}

{% block title %}
    List of the vehicles in your fleet
{% endblock %}

{% block main %}

    <div style="text-align:center; max-width:1100px; margin: auto;">
    {% if not vehicle %}
        <h2>Vehicles</h2>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mileage of the next oil change</th>
                    <th>Latest Inspection Mileage</th>
                    <th>Latest Inspection Date</th>
                    <th>Projected date of next oil change</th>
                </tr>
            </thead>
            {% for v, i in vehicles.items() %}
            <tbody>
                <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/vehicles?vehicle={{ v }}';">
                    <td>{{ v }}</td>
                    <td>{{ i[0][0] }}</td>
                    <td>{{ i[0][1] }}</td>
                    <td>{{ i[0][2] }}</td>
                    <td>{{ i[0][3] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
{% else %}
    {% if inspection | len > 0 %}
    <h2>Vehicle {{vehicle}}: Latest problems</h2>
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
            {% for i in inspection %}
                <tr>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[0] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No problems found in the latest inspection</h2>
    {% endif %}
{% endif %}
{% endblock %}